
  .video{
    margin: 50px 30px;
  }

  .description{
    margin: 10px 100px;
    font-size: 14px;
    color: grey;
  }

  .iframe {
    text-align:center;
    width:100%;
  }

  h2 {
      font-size: 20px;
  }

  #logout {
      margin: 10px 20px;
  }